<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.testing.app_mizad_hagvura">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.example.bravetogether.Manage_video_module"
            android:label="Record Gvura Video"
            android:parentActivityName="com.example.bravetogether.MainActivity" />


        <activity
            android:name="com.example.bravetogether.Manage_march"
            android:label="Manage March"
            android:parentActivityName="com.example.bravetogether.MainActivity"></activity>
        <activity android:name="com.example.bravetogether.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>